.x-cetaphil__container {
  margin: 60px auto;

  &__cadastro-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f1f9fc;
    max-width: 974px;
    min-height: 624px;
    border-radius: 28px;
    margin: 60px auto;
    gap: 55px;

    &__section {
      text-align: center;

      &.section1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.section2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 33px;
      }

      &.section3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 33px;
      }

      h2 {
        max-width: 530px;
        color: #004987;
        text-align: center;
        font-family: "BrandonGrotesque-Regular";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 3.6px;
      }

      &__intput-container {
        max-width: 573px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;

        &__input-group {
          display: flex;
          gap: 23px;

          @media (max-width: 765px) {
            flex-direction: column;
          }

          &__input-wrapper {
            flex: 1;

            input {
              box-sizing: border-box;
              width: 275px;
              height: 40px;
              padding: 9.091px 22px 6.909px 22px;
              align-items: center;
              border-radius: 8px;
              border: 1px solid #fff;
              background: #fff;

              &::placeholder {
                color: #5e656b;
                font-family: "BrandonGrotesque-Regular";
                font-size: 16px;
                font-style: normal;
                font-weight: 390;
                line-height: 150%;
              }
            }
          }
        }
      }

      &__text-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 508px;
        color: #004987;
        font-size: 12px;
        font-style: normal;
        font-weight: 390;
        line-height: 140%;
        gap: 21px;

        &__checkbox-wrapper {
          display: flex;
          gap: 16px;
          align-items: flex-start;

          #politicaDePrivacidade {
            a {
              font-weight: bold;
            }
          }

          input {
            width: 14px;
            height: 14px;
            border-radius: 2px;
            border: 1px solid #90a5ac;
            opacity: 0.86;
          }

          label {
            text-align: start;
            font-size: 15px;
            max-width: 508px;

            span {
              font-size: 15px;
            }
          }

          a {
            color: #004987;
            font-size: 15px;
            font-style: normal;
            font-weight: 390;
            line-height: 140%;
            text-decoration-line: underline;
          }
        }
      }

      &__button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button,
        a {
          display: flex;
          width: 173px;
          height: 39.832px;
          padding: 12px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 40px;
          border: none;
          background: linear-gradient(105deg, #004987 47.63%, #38a6c4 93.7%);
          margin: 0 auto;

          color: #f2f2f2;
          text-align: center;
          font-family: "BrandonGrotesque-Medium";
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        max-width: 666px;
        gap: 40px;

        @media (max-width: 765px) {
          max-width: 278px;
          text-align: left;
        }

        &__paragraph {
          &.p1 {
            color: #004987;
            text-align: center;
            font-family: "BrandonGrotesque-Medium";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 150%;
            letter-spacing: 2px;
            text-transform: uppercase;
          }

          &.p2 {
            color: #004987;
            font-family: "BrandonGrotesque-Medium";
            font-size: 20px;
            font-style: normal;
            font-weight: 390;
            line-height: 150%;
            letter-spacing: 2px;

            span {
              color: #004987;
              font-family: "BrandonGrotesque-Medium";
              font-size: 20px;
              font-style: normal;
              font-weight: bold;
              line-height: 150%;
              letter-spacing: 2px;
            }
          }

          &.p3 {
            color: #004987;
            font-family: "BrandonGrotesque-Medium";
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: 150%;
            letter-spacing: 2px;
          }

          &.p4 {
            color: #004987;
            text-align: center;
            font-family: "BrandonGrotesque-Medium";
            font-size: 25px;
            font-style: normal;
            font-weight: 390;
            line-height: 120%;
            letter-spacing: 2.5px;
            text-transform: uppercase;

            span {
              border: 2px dashed #002c84;
              padding: 0 12px;
              font-weight: bold;

              @media (max-width: 765px) {
                margin-top: 0.25rem;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
